{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog List</title>
  </head>

  <body>
    <h1>Blog List</h1>
    <a href="{% url 'blog_create' %}">Create New Blog</a>
    <ul>
      {%for blog in blogs %}
        <li>
          <a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a> -{{blog.created_at}}
          <a href="{% url 'blog_update' blog.id %}"> Edit</a>
          <a href="{% url 'blog_delete' blog.id %}"> Delete</a>

         </li>
         
      {% endfor %}
    </ul>   
  </body>
</html>