<!DOCTYPE html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="text-white body-font bg-gradient-to-r from-indigo-500 to-purple-500 shadow-lg">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-bold items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-2xl">EmpowHer</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-lg justify-center">
        <a class="mr-5 hover:text-gray-300 transition duration-300 ease-in-out" href="#">Home</a>
        <a class="mr-5 hover:text-gray-300 transition duration-300 ease-in-out" href="{% url 'course_list' %}">Courses</a>
        <a class="mr-5 hover:text-gray-300 transition duration-300 ease-in-out" href="{% url 'job_list' %}">Jobs</a>
        <a class="mr-5 hover:text-gray-300 transition duration-300 ease-in-out" href="{% url 'blog_list' %}">Blogs</a>
        <a class="mr-5 hover:text-gray-300 transition duration-300 ease-in-out" href="{% url 'upload_file' %}">Resume</a>
      </nav>
      <a href="{% url 'login_view' %}" class="inline-flex items-center bg-white text-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-gray-100 rounded-lg text-lg mt-4 md:mt-0 transition duration-300 ease-in-out shadow-md">LOGIN
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </header>
</body>
</html>